form {
  display: flex;
  flex-direction: column;
  background: #fffefbe6;
  padding: 7px;
  border-radius: 7px;
  transition: all 0.5s ease;
  
  div{
    margin: 5px 0px 5px;
  }

  p {
    margin: 7px;
    color: black;
    color: red;
    font-size: 13px;
    transition: all 0.5s ease;
  }
  input{
    margin: 17px;
  }

  .btn-title {
    display: flex;
    justify-content: center;
    align-items: center;
    h3 {
      font-size: 1.2em;
      color: black;
    }
  }

  .btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    button {
      all: inherit;
      width: 70%;
      padding: 5px;
      cursor: pointer;
      border: 1px solid black;
      border-radius: 7px;

      &:hover {
        all: none;
        background-color: #a1da55;
      }
    }
  }
}


.login-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  p{
    color: black;
    margin: 15px;
    font-size: 14px;
  }
  span{
    color:#2320ff;
  }
  button {
    all: inherit;
    width: 70%;
    margin-top: 15px;
    padding: 5px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 7px;

    &:hover {
      all: none;
      background-color: #a1da55;
    }
  }
}